<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ads List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
        *ngFor="let ad of sampleAds"
      >
        <ion-card routerLink="/ad/{{ ad.id }}">
          <img [src]="ad.image" alt="{{ ad.title }}" />
          <ion-card-header>
            <ion-card-title>{{ ad.title }}</ion-card-title>
            <ion-card-subtitle>{{ ad.price | currency }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Location: {{ ad.location }}</p>
            <p>Bedrooms: {{ ad.bedrooms }}</p>
            <p>Bathrooms: {{ ad.bathrooms }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
