ion-card {
  cursor: pointer;
  margin-bottom: 1.5rem;
}

ion-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

ion-card-header {
  padding: 1rem;
}

ion-card-title {
  font-size: 1.5rem;
}

ion-card-subtitle {
  font-size: 1.2rem;
}

ion-card-content p {
  font-size: 1rem;
  margin: 0.2rem 0;
}

ion-grid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
