<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create Property</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Price</ion-label>
    <ion-input [(ngModel)]="price" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Location</ion-label>
    <ion-input [(ngModel)]="location"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Bedrooms</ion-label>
    <ion-input [(ngModel)]="bedrooms" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Bathrooms</ion-label>
    <ion-input [(ngModel)]="bathrooms" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea [(ngModel)]="description"></ion-textarea>
  </ion-item>

  <ion-button expand="full" class="ion-margin-top" (click)="createAd()"
    >Create Ad</ion-button
  >
</ion-content>
